{% extends 'base.html' %}
{% block content %}

<h1>Pop! Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ pop.name }}</span>
                <p>Title: {{ pop.title }}</p>
                <p>Number: {{ pop.number }}</p>
                <p>Description: {{ pop.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'pops_update' pop.id %}">Edit</a>
                <a href="{% url 'pops_delete' pop.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_dusting' pop.id %}" method="POST">
            {% csrf_token %}
            {{ dusting_form.as_p }}
            <input type="submit" value="Clean Pop!" class="btn">
        </form>
        <br>
        {% if pop.dusted_today %}
            <div class="card-panel teal-text center-align">{{pop.name}} has been sufficiently cleaned today.</div>
        {% else %}
            <div class="card-panel red-text center-align">{{pop.name}} looks filthy! Protect your investment!</div>
        {% endif %}
        <table class="striped">
            <thead>
                <tr><th>Date</th><th>Method</th></tr>
            </thead>
            <tbody>
                {% for dusting in pop.dusting_set.all %}
                <tr>
                    <td>{{dusting.date}}</td>
                    <td>{{dusting.get_method_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ pop.name }}'s Groups</h3>
    {% if pop.groups.count %}
      {% for group in pop.groups.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                {% if image %}
                    <img src="{{ group.image }}" alt="{{ group.name }}">
                {% else %}
                    {{ group.name }}
                {% endif %}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>This Pop! doesn't belong to any groups.</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Groups</h3>
    {% if groups.count %}
      {% for group in groups.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                {% if image %}
                    <img src="{{ group.image }}" alt="{{ group.name }}">
                {% else %}
                    {{ group.name }}
                {% endif %}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_group' pop.id group.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{pop.name}} belongs to all available Groups</h5>
    {% endif %}
  </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })

    const selectEl = document.getElementById('id_method');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}