{% extends 'base.html' %}
{% block content %}
<h1>About the Pop! Collector</h1>
<hr />
<h5>
    Pop! Collector is a place where you can log your 
    collection of Funko Pop!s. What's more, there is 
    a built-in cleaning log to keep your collection
    clean and tidy so that the harmful affects of dust
    won't damage your items! With this resource you can 
    add Pop!s, edit them if you've made any mistakes, 
    and remove them if they've left your collection. You 
    can also categorize your collection further by 
    adding what group it belongs in. You will have the 
    ability to add groups, edit them, or delete them 
    with no consequence to your collection. 
</h5>
<p>You can be a Pop! Collector too!</p>
{% endblock %}